/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.color-card {
  width: 600px;
  height: 300px;
  border: 2px solid black;
}

.card-actions {
  float: left;
  width: 20%;
  height: 100%;
  padding: 5px;
}

.card-container {
  float: left;
  width: 80%;
  height: 100%;
  padding: 5px;
}

.outer-box {
  height: 100%;
}

.inner-box {
  height: 100%;
  width: 100%;
  border: 1px dotted black;
}
